NEXTAUTH_SECRET="TpMyXi1KNkPEuXOtLuY0zDwqnLKFK925bJIdC2/WUws="
NEXT_PUBLIC_API_BASE_URL="http://localhost:3000/"
DATABASE_URL="mysql://nextjs:myname@mymusic-db:3306/nextjs"
SHADOW_DATABASE_URL="mysql://nextjs:myname@mymusic-db:3306/nextjs_shadow"
NEXT_PUBLIC_FLASK_API="http://fileservice:5000"